In [1]:
# import numpy as np
# import pandas as pd
# from matplotlib import pyplot as plt

# from datetime import date
# from datetime import datetime
# import calendar
# import os
# import re


# from scipy import stats
# from sklearn.neighbors import KernelDensity
# import matplotlib.colors as mcolors
# from matplotlib.animation import FuncAnimation, PillowWriter

# import seaborn as sns
# from pathlib import Path
# from tqdm import tqdm_notebook, trange, tqdm
# from PIL import Image, ImageDraw
# import io
# import random as r

# from matplotlib.widgets import Slider, Button, RadioButtons
# from __future__ import print_function
# from ipywidgets import interact, interactive, fixed, interact_manual
# import ipywidgets as widgets

# from sklearn.ensemble import RandomForestClassifier
# from sklearn.tree import DecisionTreeClassifier
# from sklearn import preprocessing
# # For downsampling
# from sklearn.utils import resample,shuffle

In [1]:
import numpy as np
import pandas as pd

from datetime import date
from datetime import datetime

from sklearn.neighbors import KernelDensity

import seaborn as sns
import random as r

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
# For downsampling
from sklearn.utils import resample,shuffle
# r_seed1, r_seed2, r_seed3, r_seed4, r_seed5, n_est= 533, 2608, 1581, 2218, 641, 63
# np.random.seed(r_seed1)

In [2]:
df_companies = pd.read_csv("./data/companies.csv")
df_payments = pd.read_csv("./data/payments.csv")
df_physicians = pd.read_csv("./data/physicians.csv")

d:\python\anaconda\envs\datamininglab\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns', None)
df_physicians

,id,set,First_Name,Middle_Name,Last_Name,Name_Suffix,City,State,Zipcode,Country,Province,Primary_Specialty,License_State_1,License_State_2,License_State_3,License_State_4,License_State_5
0,1,train,LEIGH,B,HOPPE,NaN,FORT PIERCE,FL,34950,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Obstetrics...,FL,NaN,NaN,NaN,NaN
1,2,train,STEVEN,NaN,FRANK,NaN,TOWSON,MD,21204-6808,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Anesthesio...,MD,NaN,NaN,NaN,NaN
2,3,train,THOMAS,NaN,COUCH,JR.,TROY,NY,12180-2832,UNITED STATES,NaN,Podiatric Medicine & Surgery Service Providers...,NY,NaN,NaN,NaN,NaN
3,4,train,CLAUDE,NaN,SU,NaN,SAVANNAH,GA,31419-1753,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Internal M...,GA,SC,AL,NaN,NaN
4,5,train,ROBERT,C,SCHENCK,NaN,ALBUQUERQUE,NM,87131-0001,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Orthopaedi...,NM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5996,train,MARC,NaN,WEINSTEIN,NaN,TEMPLE TERRACE,FL,33637-0925,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Orthopaedi...,FL,NaN,NaN,NaN,NaN
5996,5997,train,CHARLES,W,YOWELL,NaN,TALLAHASSEE,FL,32308-4620,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Urology,FL,SC,NaN,NaN,NaN
5997,5998,train,MARK,O,GABBIE,NaN,TEXARKANA,AR,71854,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Family Med...,AR,TX,NaN,NaN,NaN
5998,5999,test,KRISHNASWAMY,NaN,GAJARAJ,NaN,RANDOLPH,MA,02368-2100,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Psychiatry...,MA,NaN,NaN,NaN,NaN
5999,6000,train,HOWARD,K,NAM,NaN,YUBA CITY,CA,95991-5005,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Otolaryngo...,CA,NaN,NaN,NaN,NaN

In [4]:
def phys_OI(phys_id):
    if(df_payments.query('Physician_ID==@phys_id and Ownership_Indicator=="Yes"').shape[0]>0):
        return 1
    else:
        return 0
    
df_physicians['Ownership_Interest']=df_physicians['id'].apply(phys_OI)

In [5]:
df_physicians.query('Ownership_Interest==1')

,id,set,First_Name,Middle_Name,Last_Name,Name_Suffix,City,State,Zipcode,Country,Province,Primary_Specialty,License_State_1,License_State_2,License_State_3,License_State_4,License_State_5,Ownership_Interest
5,6,train,ARNOLD,NaN,TYRANGEL,NaN,BAYSIDE,NY,11360-2019,UNITED STATES,NaN,Dental Providers|Dentist|General Practice,NY,NaN,NaN,NaN,NaN,1
23,24,train,DOUGLAS,J,KIMBALL,NaN,BELGRADE,MT,59714-3915,UNITED STATES,NaN,Eye and Vision Services Providers|Optometrist,MT,NaN,NaN,NaN,NaN,1
32,33,train,GILBERT,A,LEIDIG,NaN,NEWARK,DE,19713-2137,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Internal M...,PA,DE,NaN,NaN,NaN,1
37,38,train,CURTIS,EARL,JANSEN,NaN,MONTEREY,CA,93940-2903,UNITED STATES,NaN,Dental Providers|Dentist|Prosthodontics,CA,NaN,NaN,NaN,NaN,1
68,69,train,LAURENCE,NaN,RUBIN,NaN,BETHPAGE,NY,11714,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Ophthalmology,NY,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5965,5966,train,EDGARDO,NaN,COLON ZAVALA,NaN,SAN JUAN,PR,00918-5032,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Psychiatry...,PR,NaN,NaN,NaN,NaN,1
5968,5969,train,MAYO,A,NOERDLINGER,NaN,PORTSMOUTH,NH,03801-5679,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Orthopaedi...,IL,ME,NH,NaN,NaN,1
5980,5981,train,AHMAD,M,HOOSHMAND,NaN,JEFFERSON CITY,MO,65109-9508,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Psychiatry...,MO,MA,NaN,NaN,NaN,1
5990,5991,train,MEREDITH,W,COUSIN,NaN,INDIANAPOLIS,IN,46237-8634,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Psychiatry...,IL,IN,NaN,NaN,NaN,1
5992,5993,train,ANDREW,T,HUME,NaN,SAN ANGELO,TX,76903-5400,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Thoracic S...,TX,NaN,NaN,NaN,NaN,1

In [6]:
df_companies.rename({"State":"State_Comp","Country":"Country_Comp"}, axis='columns', inplace=True)
df_physicians.rename({"State":"State_Phys","Country":"Country_Phys"}, axis='columns', inplace=True)
pd.set_option('display.max_columns', None)
df = pd.merge(df_payments, df_physicians, left_on='Physician_ID', right_on='id', how='left').drop('id', axis=1)
df = pd.merge(df, df_companies, on='Company_ID', how='left')
df.rename({"Name":"Company_Name"}, axis='columns', inplace=True)


###test safekeeping dataframe
df_main_test=df[df.set=="test"]

df = df.astype(str)
for column in df.columns:
     if(df[column].dtype=='object'):
        df[column] = df[column].str.lower()

#Convert to Date
df['Date']=pd.to_datetime(df['Date'])

#type conv after str conv
df[['Company_ID','Number_of_Payments']]=df[['Company_ID','Number_of_Payments']].astype(int)
df['Total_Amount_of_Payment_USDollars']=df['Total_Amount_of_Payment_USDollars'].astype(float)

In [7]:
###DROPPING RECORDS
df_scrap=df.query('Product_Code_1!="nan" and Product_Name_1=="nan" and set!="test"', engine='python')
df_scrap.Ownership_Indicator.value_counts()
df=pd.concat([df, df_scrap]).drop_duplicates(keep=False)

df_scrap=df.query('Product_Code_2!="nan" and Product_Name_2=="nan" and set!="test"', engine='python')
df_scrap.Ownership_Indicator.value_counts()
df=pd.concat([df, df_scrap]).drop_duplicates(keep=False)

df_scrap=df.query('Product_Code_3!="nan" and Product_Name_3=="nan" and set!="test"', engine='python')
df_scrap.Ownership_Indicator.value_counts()
df=pd.concat([df, df_scrap]).drop_duplicates(keep=False)

In [8]:
###ENCODING CELL

name_list = pd.unique(df[['Product_Name_1', 'Product_Name_2', 'Product_Name_3']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['Product_Name_1'] = df['Product_Name_1'].apply(product_encode)
df['Product_Name_2'] = df['Product_Name_2'].apply(product_encode)
df['Product_Name_3'] = df['Product_Name_3'].apply(product_encode)

name_list = pd.unique(df[['Product_Code_1', 'Product_Code_2', 'Product_Code_3']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['Product_Code_1'] = df['Product_Code_1'].apply(product_encode)
df['Product_Code_2'] = df['Product_Code_2'].apply(product_encode)
df['Product_Code_3'] = df['Product_Code_3'].apply(product_encode)

name_list = pd.unique(df[['Product_Category_1', 'Product_Category_2', 'Product_Category_3']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['Product_Category_1'] = df['Product_Category_1'].apply(product_encode)
df['Product_Category_2'] = df['Product_Category_2'].apply(product_encode)
df['Product_Category_3'] = df['Product_Category_3'].apply(product_encode)

name_list = pd.unique(df[['Product_Type_1', 'Product_Type_2','Product_Type_3']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['Product_Type_1'] = df['Product_Type_1'].apply(product_encode)
df['Product_Type_2'] = df['Product_Type_2'].apply(product_encode)
df['Product_Type_3'] = df['Product_Type_3'].apply(product_encode)


name_list = pd.unique(df[['License_State_1', 'License_State_2', 'License_State_3', 'License_State_4', 'License_State_5']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def license_encode(license_state):
    return name_list_dict.get(license_state)

df['License_State_1']=df['License_State_1'].apply(license_encode)
df['License_State_2']=df['License_State_2'].apply(license_encode)
df['License_State_3']=df['License_State_3'].apply(license_encode)
df['License_State_4']=df['License_State_4'].apply(license_encode)
df['License_State_5']=df['License_State_5'].apply(license_encode)

name_list = pd.unique(df[['Country_Comp', 'Country_Phys','Country_of_Travel']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['Country_Comp'] = df['Country_Comp'].apply(product_encode)
df['Country_Phys'] = df['Country_Phys'].apply(product_encode)
df['Country_of_Travel'] = df['Country_of_Travel'].apply(product_encode)

name_list = pd.unique(df[['State_Comp', 'State_Phys', 'State_of_Travel']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['State_Comp'] = df['State_Comp'].apply(product_encode)
df['State_Phys'] = df['State_Phys'].apply(product_encode)
df['State_of_Travel'] = df['State_of_Travel'].apply(product_encode)

name_list = pd.unique(df[['City_of_Travel', 'City']].values.ravel('K'))
# name_list = np.delete(name_list,np.where(name_list=="nan"))
name_list_dict = {}
int_code=int(1)
for name in name_list:
    name_list_dict.update({name:int_code})
    int_code+=1

def product_encode(product_name):
    return name_list_dict.get(product_name)

df['City_of_Travel'] = df['City_of_Travel'].apply(product_encode)
df['City'] = df['City'].apply(product_encode)

df['Ownership_Indicator']=np.where((df.Ownership_Indicator == "yes"),1,df.Ownership_Indicator)
df['Ownership_Indicator']=np.where((df.Ownership_Indicator == "no"),0,df.Ownership_Indicator)
df['Ownership_Indicator']=df['Ownership_Indicator'].astype(int)

df['Date_year']=df['Date'].dt.year
df['Date_month']=df['Date'].dt.month
df['Date_day']=df['Date'].dt.day

columns_encode=['Nature_of_Payment_or_Transfer_of_Value','Form_of_Payment_or_Transfer_of_Value','Zipcode','Third_Party_Recipient', 'Charity', 'Third_Party_Covered','Contextual_Information', 'Related_Product_Indicator','Primary_Specialty']
for column in columns_encode:
    df[column]=df[column].astype('category')
    df[column]=df[column].cat.codes

In [9]:
###DROPPING COLUMNS
df_safe = df
df.drop(columns=['Date','Record_ID', 'First_Name', 'Middle_Name', 'Last_Name', 'Name_Suffix', 'Company_Name','Province'],inplace=True)
# df.drop(columns=['Date','Record_ID', 'First_Name', 'Middle_Name', 'Last_Name', 'Name_Suffix', 'Company_Name','Province','Product_Type_1','Product_Type_2','Product_Type_3','Product_Code_1','Product_Code_2','Product_Code_3'],inplace=True)

###SPLIT
df_test=df[df.set=="test"]
df_train=df[df.set=="train"]

###drop set column
df_test.drop(columns=['set'],inplace=True)
df_train.drop(columns=['set'],inplace=True)

##send predicted attribute to end
first_col = df_train.pop("Ownership_Interest")
df_train.insert((df_train.shape[1]),"Ownership_Interest",first_col)

first_col = df_test.pop("Ownership_Interest")
df_test.insert((df_test.shape[1]),"Ownership_Interest",first_col)

##send Physician ID to end
first_col = df_train.pop("Physician_ID")
df_train.insert((df_train.shape[1]),"Physician_ID",first_col)

first_col = df_test.pop("Physician_ID")
df_test.insert((df_test.shape[1]),"Physician_ID",first_col)

d:\python\anaconda\envs\datamininglab\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
df_train = df_train.drop(columns = ['Ownership_Indicator'])
df_test = df_test.drop(columns = ['Ownership_Indicator'])

In [11]:
df_train

,Company_ID,Total_Amount_of_Payment_USDollars,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,City_of_Travel,State_of_Travel,Country_of_Travel,Third_Party_Recipient,Charity,Third_Party_Covered,Contextual_Information,Related_Product_Indicator,Product_Code_1,Product_Code_2,Product_Code_3,Product_Type_1,Product_Type_2,Product_Type_3,Product_Name_1,Product_Name_2,Product_Name_3,Product_Category_1,Product_Category_2,Product_Category_3,City,State_Phys,Zipcode,Country_Phys,Primary_Specialty,License_State_1,License_State_2,License_State_3,License_State_4,License_State_5,State_Comp,Country_Comp,Date_year,Date_month,Date_day,Ownership_Interest,Physician_ID
0,597,48.78,1,3,8,1,32,26,2,0,0,29736,1,1,1,1,1,3,3,1,10,10,1,1,1,59,22,1742,1,30,1,53,53,53,53,1,1,2013,8,1,0,2455
1,593,122.43,1,3,8,1,32,26,2,1,0,29736,1,2,1,1,2,3,3,2,10,10,1,1,1,66,13,646,1,30,2,53,53,53,53,2,1,2013,8,1,0,1534
3,760,13.68,1,3,6,1,32,26,2,0,0,29736,1,1,1,1,2,3,3,3,10,10,1,1,1,1563,3,5215,1,120,4,53,53,53,53,3,1,2013,8,1,1,550
4,826,17.17,1,3,8,1,32,26,2,0,0,29736,1,3,1,1,2,3,3,4,10,10,1,1,1,29,16,2537,1,160,5,53,53,53,53,2,1,2013,8,1,0,1710
5,145,12.88,1,3,8,1,32,26,2,0,0,29736,1,4,1,1,2,3,3,5,10,10,1,1,1,261,18,2387,1,45,6,10,3,53,53,3,1,2013,8,1,0,3803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402243,1268,15.90,1,1,8,1,32,26,2,0,0,29736,5,1184,2649,2588,5,5,5,7392,7392,7392,11,11,11,499,26,4640,1,34,34,53,53,53,53,11,1,2019,12,31,0,2319
1402245,401,11838.32,2,1,12,1,32,26,2,0,0,29736,5,1,1,1,4,3,3,6058,10,10,9,1,1,42,11,2187,1,50,15,53,53,53,53,14,1,2019,12,31,0,4705
1402246,1268,9.57,1,1,8,1,32,26,2,0,0,29736,5,1184,2649,2588,5,5,5,7392,7392,7392,11,11,11,1021,11,2330,1,16,15,53,53,53,53,11,1,2019,12,31,0,1040
1402247,1220,1536.61,1,1,13,719,32,3,2,0,0,29736,2,1,1,1,3,3,3,10,10,10,1,1,1,28,17,4176,1,71,4,13,53,53,53,3,1,2019,12,31,1,724
1402249,596,37.33,1,3,8,1,32,26,2,0,0,29736,5,1,1,1,4,3,3,3123,10,10,143,1,1,392,15,2889,1,6,3,53,53,53,53,1,1,2019,12,31,0,599

In [12]:
df_train.Ownership_Interest.value_counts()

0    1050569
1     119380
Name: Ownership_Interest, dtype: int64

In [ ]:
##heatmap cell
fig = plt.figure(figsize = (30,30))
ax = fig.gca()

heatmap = sns.heatmap(df_train[df_train.columns[0:41]].corr(), annot=True)
fig = heatmap.get_figure()
fig.savefig("heatmap_after_na_encode_OI.png")

In [58]:
#grid search
best=0
i=0
n=5
f = open("seeds.txt", "a")
f.write("File Starts here:\n")


while n>0:
    np.random.seed(2021)
    n_est=r.randint(50,200)
    ###downsampling

    df_train_maj=df_train[df_train.Ownership_Interest==0]
    df_train_min=df_train[df_train.Ownership_Interest==1]
    df_train_maj_down=resample(df_train_maj, replace=False, n_samples=df_train_min.shape[0], random_state=2021)
    df_train_final = pd.concat([df_train_maj_down, df_train_min])


    ###test train split of own train set
    df_train_final['is_train']=np.random.uniform(0,1,len(df_train_final)) <=.80
    train, test = df_train_final[df_train_final['is_train']==True], df_train_final[df_train_final['is_train']==False]
    train = shuffle(train,random_state=2021)
    test = shuffle(test,random_state=2021)

    ###feature and label split
    features=train[train.columns[0:(train.shape[1]-3)]]
    y=train['Ownership_Interest']
    x_test = test[test.columns[0:(test.shape[1]-3)]]
    y_test = test['Ownership_Interest']

    ###model training
    clf = RandomForestClassifier(n_jobs=-1, oob_score = True, n_estimators = n_est, random_state=2021)

    clf.fit(features, y)
    test_acc=clf.score(x_test,y_test)
#     print('Seed:'+str(r_seed1)+' '+str(r_seed2)+' '+str(r_seed3)+' '+str(r_seed4)+' '+str(r_seed5)+' '+str(test_acc))
    
    # Accuracy Scores
#     print ('Internal Accuracy Score', clf.oob_score_)
#     print ('RF accuracy: TRAINING', clf.score(features,y))
#     print ('RF accuracy: TESTING', test_acc)
    if test_acc>best:
        best=test_acc
        f.write('BEST: '+str(test_acc)+' N_EST: '+str(n_est)+'\n')
        print('BEST: '+str(test_acc)+' N_EST: '+str(n_est)+'\n')
    score_test=clf.predict(x_test)
    if test_acc>0.996:
        f.close()
        break

BEST: 0.9941298126135912 N_EST: 115

BEST: 0.9942133739998746 N_EST: 68

BEST: 0.9942342643464455 N_EST: 181

BEST: 0.9942551546930164 N_EST: 89

KeyboardInterrupt:

In [29]:
df_train[['Ownership_Interest']]=df_train[['Ownership_Interest']].astype(int)
df_test[['Ownership_Interest']]=df_test[['Ownership_Interest']].astype(int)

In [59]:
np.random.seed(2021)
###downsampling
df_train_maj=df_train[df_train.Ownership_Interest==0]
df_train_min=df_train[df_train.Ownership_Interest==1]
df_train_maj_down=resample(df_train_maj, replace=False, n_samples=df_train_min.shape[0], random_state=2021)
df_train_final = pd.concat([df_train_maj_down, df_train_min])

###test train split of own train set
df_train_final['is_train']=np.random.uniform(0,1,len(df_train_final)) <=.80
train, test = df_train_final[df_train_final['is_train']==True], df_train_final[df_train_final['is_train']==False]
train = shuffle(train,random_state=2021)
test = shuffle(test,random_state=2021)

In [49]:
print(train.shape)
print(train.columns[train.shape[1]-4])
#print(train.columns)
df_train.Ownership_Interest.describe()
test.Physician_ID.unique().size
train.columns[0:]

(190891, 43)
Date_day

Index(['Company_ID', 'Total_Amount_of_Payment_USDollars', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Third_Party_Recipient',
       'Charity', 'Third_Party_Covered', 'Contextual_Information',
       'Related_Product_Indicator', 'Product_Code_1', 'Product_Code_2',
       'Product_Code_3', 'Product_Type_1', 'Product_Type_2', 'Product_Type_3',
       'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'City', 'State_Phys', 'Zipcode', 'Country_Phys', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5', 'State_Comp', 'Country_Comp',
       'Date_year', 'Date_month'],
      dtype='object')

In [60]:
# 1261 533 2608 1581 2218 641 0.9968814968814969 N_EST: 63
# r_seed1, r_seed2, r_seed3, r_seed4, r_seed5, n_est= 473, 907, 1680, 322, 318, 142


###feature and label split
features=train[train.columns[0:(train.shape[1]-3)]]
y=train['Ownership_Interest']
x_test = test[test.columns[0:(test.shape[1]-3)]]
y_test = test['Ownership_Interest']

###model training
clf = RandomForestClassifier(n_jobs=-1, oob_score = True, n_estimators = 89, random_state=2021)
clf.fit(features, y)
test_acc=clf.score(x_test,y_test)

    # Accuracy Scores
print ('Internal Accuracy Score', clf.oob_score_)
print ('RF accuracy: TRAINING', clf.score(features,y))
print ('RF accuracy: TESTING', test_acc)
score_test=clf.predict(x_test)

Internal Accuracy Score 0.9933627043705571
RF accuracy: TRAINING 1.0
RF accuracy: TESTING 0.9942551546930164

In [53]:
score_test=clf.predict(x_test)

IndexError: list index out of range

In [34]:
finalAccPhysID=test['Physician_ID']
finalAcc={'Physician_ID':finalAccPhysID, 'Score':score_test}
finalAccDF=pd.DataFrame(data=finalAcc)
finalAccDF.Score.value_counts()

1    23982
0    23887
Name: Score, dtype: int64

In [37]:
count = 0

for phys in finalAccDF.Physician_ID.unique():
    if (finalAccDF.query('Physician_ID==@phys and Score==1').shape[0]>0):
        if(finalAccDF.query('Physician_ID==@phys and Score==0').shape[0]>0):
            count+=1
            
print(count)
print(finalAccDF.Physician_ID.unique().size)

143
4187

In [61]:
count = 0
physUFAD=finalAccDF['Physician_ID'].unique()
sc=[None]*physUFAD.size
for i in range(physUFAD.size):
    physician=physUFAD[i]
    if (finalAccDF.query('Physician_ID==@physician and Score==1').shape[0]<finalAccDF.query('Physician_ID==@physician and Score==0').shape[0]):
        sc[i]=0
    else:
        sc[i]=1

finTestPredict={'Physician_ID':physUFAD, 'Score':sc}
finTestPredictDF=pd.DataFrame(data=finTestPredict)

finalAccPhysID=test['Physician_ID']
TrueFinalAcc={'Physician_ID':finalAccPhysID, 'Score':test['Ownership_Interest']}
TrueFinalAccDF=pd.DataFrame(data=TrueFinalAcc)

physUFAD=TrueFinalAccDF['Physician_ID'].unique()
sc=[None]*physUFAD.size
for i in range(physUFAD.size):
    physician=physUFAD[i]
    if(TrueFinalAccDF.query('Physician_ID==@physician and Score==1').shape[0]>0):
        sc[i]=1
    else:
        sc[i]=0

TrueFinTest={'Physician_ID':physUFAD, 'Score':sc}
TrueFinTestDF=pd.DataFrame(data=TrueFinTest)

ownTestScore=TrueFinTestDF['Score']-finTestPredictDF['Score']
print(ownTestScore)
accuracy=(ownTestScore.value_counts(dropna=False,sort=False,ascending=True).loc[0])/ownTestScore.size*100
print(accuracy)

0       0
1       0
2       0
3       0
4       0
       ..
4182    0
4183    0
4184    0
4185    0
4186    0
Name: Score, Length: 4187, dtype: int64
98.68641031764986

In [18]:
###Creating Dataframes to find accuracy of Physician Level

finalAccPhysID=test['Physician_ID']
finalAcc={'Physician_ID':finalAccPhysID, 'Score':score_test}
finalAccDF=pd.DataFrame(data=finalAcc)
# finalAccDF['Physician_ID'].unique().size
physUFAD=finalAccDF['Physician_ID'].unique()
sc=[None]*physUFAD.size
for i in range(physUFAD.size):
    physician=physUFAD[i]
    if(finalAccDF.query('Physician_ID==@physician and Score==1').shape[0]>0):
        sc[i]=1
    else:
        sc[i]=0
        
finTestPredict={'Physician_ID':physUFAD, 'Score':sc}
finTestPredictDF=pd.DataFrame(data=finTestPredict)

TrueFinalAcc={'Physician_ID':finalAccPhysID, 'Score':test['Ownership_Indicator']}
TrueFinalAccDF=pd.DataFrame(data=TrueFinalAcc)
# finalAccDF['Physician_ID'].unique().size
physUFAD=TrueFinalAccDF['Physician_ID'].unique()
sc=[None]*physUFAD.size
for i in range(physUFAD.size):
    physician=physUFAD[i]
    if(TrueFinalAccDF.query('Physician_ID==@physician and Score==1').shape[0]>0):
        sc[i]=1
    else:
        sc[i]=0

TrueFinTest={'Physician_ID':physUFAD, 'Score':sc}
TrueFinTestDF=pd.DataFrame(data=TrueFinTest)

In [19]:
###Finding Accuracy
ownTestScore=TrueFinTestDF['Score']-finTestPredictDF['Score']
print(ownTestScore)
accuracy=(ownTestScore.value_counts(dropna=False,sort=False,ascending=True).loc[0])/ownTestScore.size*100
print(accuracy)

0      0
1      1
2      1
3      1
4      0
      ..
536    0
537    0
538    0
539    0
540    0
Name: Score, Length: 541, dtype: int64
72.2735674676525

In [64]:
df_test.columns

Index(['Company_ID', 'Total_Amount_of_Payment_USDollars', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Third_Party_Recipient',
       'Charity', 'Third_Party_Covered', 'Contextual_Information',
       'Related_Product_Indicator', 'Product_Code_1', 'Product_Code_2',
       'Product_Code_3', 'Product_Type_1', 'Product_Type_2', 'Product_Type_3',
       'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'City', 'State_Phys', 'Zipcode', 'Country_Phys', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5', 'State_Comp', 'Country_Comp',
       'Date_year', 'Date_month', 'Date_day'],
      dtype='object')

In [65]:
print(features.columns)
print(df_test.columns)
predict_set=df_test
# predict_set.drop(columns=['Physician_ID','Ownership_Interest'],inplace=True)
print(features.shape)
print(predict_set.shape)

Index(['Company_ID', 'Total_Amount_of_Payment_USDollars', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Third_Party_Recipient',
       'Charity', 'Third_Party_Covered', 'Contextual_Information',
       'Related_Product_Indicator', 'Product_Code_1', 'Product_Code_2',
       'Product_Code_3', 'Product_Type_1', 'Product_Type_2', 'Product_Type_3',
       'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'City', 'State_Phys', 'Zipcode', 'Country_Phys', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5', 'State_Comp', 'Country_Comp',
       'Date_year', 'Date_month', 'Date_day'],
      dtype='object')
Index(['Company_ID', 'Total_Amount_of_Payment_USDollars', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Third_Party_Recipient',
       'Charity', 'Third_Party_Covered', 'Contextual_Information',
       'Related_Product_Indicator', 'Product_Code_1', 'Product_Code_2',
       'Product_Code_3', 'Product_Type_1', 'Product_Type_2', 'Product_Type_3',
       'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'City', 'State_Phys', 'Zipcode', 'Country_Phys', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5', 'State_Comp', 'Country_Comp',
       'Date_year', 'Date_month', 'Date_day'],
      dtype='object')
(190891, 40)
(232220, 40)

In [66]:
score = clf.predict(predict_set)

In [67]:
score.size

232220

In [68]:
phys_id_list=df_main_test['Physician_ID']

In [69]:
submit={'Physician_ID':phys_id_list, 'Score':score}
submit_df=pd.DataFrame(data=submit)
submit_df['Physician_ID'].unique().size
physUnique=submit_df['Physician_ID'].unique()
physUnique.size
physUnique[0]

2632

In [70]:
physUnique.size

1000

In [71]:

sc=[None]*1000
for i in range(physUnique.size):
    physician=physUnique[i]
    if (submit_df.query('Physician_ID==@physician and Score==1').shape[0]<submit_df.query('Physician_ID==@physician and Score==0').shape[0]):
        sc[i]=0
    else:
        sc[i]=1

In [72]:
final_submit={'id':physUnique, 'prediction':sc}
fs_df=pd.DataFrame(data=final_submit)
fs_df

       id  prediction
0    2632           1
1    2401           0
2    3922           0
3     896           0
4     539           0
..    ...         ...
995   136           0
996  1958           0
997  5076           0
998   375           1
999  3876           0

[1000 rows x 2 columns]

In [73]:
fs_df.to_csv("./submission4.csv",index=False)

In [ ]:
print(physUnique)
print(sc)

In [76]:
inspect1 = pd.read_csv("./submission4.csv")
inspect2 = pd.read_csv("./submission4_fj5NaSF.csv")
dfscrap=inspect2['prediction']-inspect1['prediction']
dfscrap.value_counts()

0    1000
Name: prediction, dtype: int64